<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../bootstrap-3.4.1-dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>


<div style="padding: 10px; box-shadow: gray 1px 1px 8px; background-color: white" class="navbar">
    <a class="btn btn-success pull-right">LOGIN</a>
    <a class="" style="font-size: 25px; color: black">Task</a>
    <a class="navbar-item" style="margin-left: 20px !important;">pricing</a>
    <a class="navbar-item">privacy</a>
    <a class="navbar-item">about us</a>
    <a class="navbar-item">access</a>

</div>


<h1 style="text-align: center; margin-top: 40px">
    Wellcome to the Task
</h1>

<div style="text-align: center">
    <label style="width: 300px">
        A free forever platform to save the tasks and remind them in the easiest way.
    </label>
</div>


</body>
</html>